<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Login_with_levels.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Login_with_levels.My.MySettings.stockConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\stock.accdb"
            providerName="System.Data.OleDb" />
        <add name="Login_with_levels.My.MySettings.repairsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\repairs.accdb"
            providerName="System.Data.OleDb" />
        <add name="Login_with_levels.My.MySettings.customersConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\customers.accdb"
            providerName="System.Data.OleDb" />
        <add name="Login_with_levels.My.MySettings.cafeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\cafe.accdb"
            providerName="System.Data.OleDb" />
        <add name="Login_with_levels.My.MySettings.ordersConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\orders.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Login_with_levels.My.MySettings>
            <setting name="AdminUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="UserUser" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value>password</value>
            </setting>
        </Login_with_levels.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>